<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - NorthwindCorp</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
      <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NorthwindCorp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
          <partial name="_LoginPartial" />
          @await Html.PartialAsync("_NavBar")
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>
  <div class="d-flex">
    <ul class="fixed-bottom list-group list-group-horizontal mx-auto justify-content-center" style="margin-bottom: 60px; list-style: none">
      <li><img class="list-group-item" src="images/1.jpg" alt="1.jpg" width="100" height="100" /></li>
      <li><img class="list-group-item" src="images/2.jpg" alt="2.jpg" width="100" height="100" /></li>
      <li><img class="list-group-item" src="images/3.jpg" alt="3.jpg" width="100" height="100" /></li>
      <li><img class="list-group-item" src="images/4.png" alt="4.jpg" width="100" height="100" /></li>
      <li><img class="list-group-item" src="images/5.png" alt="5.jpg" width="100" height="100" /></li>
    </ul>
  </div>

  <footer class="border-top footer text-muted bg-dark">
    <div class="container">
      &copy; 2020 - NorthwindCorp
    </div>
  </footer>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
